# Node modules
node_modules/

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment file
.env

# Uploaded user files
uploads/
common/

# OS and editor files
.DS_Store
Thumbs.db
.vscode/


# Uploaded profile pictures (ignore files, keep folder)
server/static/uploaded_profile_pictures/*
!server/static/uploaded_profile_pictures/.gitignore

# Temporary files created by the IDE
tempCodeRunnerFile.py
